.floating-btn {
    width: 100px;
    height: 100px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: background 0.25s;
    transform: scale(.85);
    animation: pulse 1s ease-in-out infinite;
    z-index: 100;
    }

@keyframes pulse {
  from {
    transform: scale(.95);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(.95);
  }
}

.floating-btn:hover {
    background: none;
    transform: rotate(360deg);
}


