{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>LearnEng</title>

        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/main/favicons2/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/main/favicons2/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/main/favicons2/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/main/favicons2/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static '/main/favicons2/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicons -->

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/flaticon2.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}" />
        <link rel="stylesheet" href="{% static 'main/vendors/owl-carousel/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/vendors/nice-select/css/nice-select.css' %}" />
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'main/css/style1.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/bot/tbot.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/links.css' %}" />
    </head>
    <body>
        <!-- telegram icon -->
        <a href="https://t.me/LearnEngTestBot" class="floating-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="#fdc633" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
            </svg>
        </a>
        <!-- end telegram icon -->

        <!--================ Start Header Menu Area =================-->
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <header class="header_area">
                    <div class="main_menu">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <a class="navbar-brand logo_h" href="#">
                                    <img src="{% static 'main/img/logo/logo_dark.png' %}" alt=""/></a>
                                <button class="navbar-toggler" type="button"
                                        data-toggle="collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse offset">
                                    <ul class="nav navbar-nav menu_nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'courses_home' %}">Уроки</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'knowledge_base' %}">База знаний</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'about' %}">О нас</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">|</a>
                                        </li>
                                        <li class="nav-item submenu dropdown">
                                            <a href="#"
                                               class="nav-link dropdown-toggle"
                                               data-toggle="dropdown"
                                               role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false">{{ user.username }}</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'create' %}">Добавить Урок</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'create_topics' %}">Добавить Топик</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            {% else %}
                <header class="header_area">
                    <div class="main_menu">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <a class="navbar-brand logo_h" href="#">
                                    <img src="{% static 'main/img/logo/logo_dark.png' %}" alt=""/></a>
                                <button class="navbar-toggler" type="button"
                                        data-toggle="collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse offset">
                                    <ul class="nav navbar-nav menu_nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'courses_home' %}">Уроки</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'knowledge_base' %}">База знаний</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'about' %}">О нас</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">|</a>
                                        </li>
                                        <li class="nav-item submenu dropdown">
                                            <a href="#"
                                               class="nav-link dropdown-toggle"
                                               data-toggle="dropdown"
                                               role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false">{{ user.username }}</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            {% endif %}
        {% else %}
            <header class="header_area">
                <div class="main_menu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <a class="navbar-brand logo_h" href="#">
                                <img src="{% static 'main/img/logo/logo_dark.png' %}" alt=""/></a>
                            <button class="navbar-toggler" type="button"
                                    data-toggle="collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">

                                <span class="icon-bar"></span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse offset">
                                <ul class="nav navbar-nav menu_nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'home' %}">Главная</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'courses_home' %}">Уроки</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'knowledge_base' %}">База знаний</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'about' %}">О нас</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="{% url 'about' %}">|</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        {% endif %}
        <!--================ End Header Menu Area =================-->

        <!--================ Start Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner_content text-center">
                                <h2 class="text-uppercase mb-5">
                                    Изучаем английский язык <br> вместе с learneng!
                                </h2>
                                <p class="text-uppercase">
                                    Если Вы не знаете свой уровень владения <br> английским языком, можете узнать здесь :)
                                </p><br>
                                <div>
                                    <a href="{% url 'test' %}" class="primary-btn">пройти тестирование</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Home Banner Area =================-->

        <!--================ Start About Area =================-->
        <section class="about_area section_gap">
            <div class="container">
                <div class="row h_blog_item">
                    <div class="col-lg-6">
                        <div class="h_blog_img">
                            <img class="img-fluid" src="{% static 'main/img/about.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="h_blog_text">
                            <div class="h_blog_text_inner left right">
                                <h4>МЫ КОМПАНИЯ</h4>
                                <h1 class="display-4">LEARN ENG</h1>
                                <p>
                                    Мы занимаемся созданием качественных бесплатных курсов для владеющих абсолютно любым уровнем английского.
                                <p>
                                Если у Вас нет времени заниматься на сайте, у нас есть хороший вариант обучения с помощью нашего Телеграм-бота.
                                Он выдает необходимые материалы и важную информацию.
                                <p>
                                У нас на курсах нет школьной методики, мы работам по собственной!
                                Мы уделяем особое внимание для каждой секции (Writing, Reading, Speaking, Listening), поэтому все наши учащиеся
                                свободно владеют языком.
                                <p>
                                Если Вы хотите индивидуальную консультацию, оставьте свои данные <a href="{% url 'visitors_info' %}" class="link-warning"><b>здесь</b></a> и мы с Вами свяжемся!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End About Area =================-->

        <!--================ Start Feature Area =================-->
        <section class="feature_area section_gap_top title-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="main_title">
                            <h2 class="mb-3 text-white">Наши Преимущества</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_feature">
                            <div class="icon"><span class="flaticon-student"></span></div>
                            <div class="desc">
                                <h4 class="mt-3 mb-2">Доступное и качественное образование</h4>
                                <p>
                                    Онлайн-обучение доступнее, чем очное. Вы можете проходить курсы в лучших
                                    университетах и быть уверены в том, что учитесь у экспертов. Курсы делаются
                                    силами большой команды разработчиков и преподавателей. Также вы можете
                                    получать электронные сертификаты о прохождении образовательных программ.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single_feature">
                            <div class="icon"><span class="flaticon-book"></span></div>
                            <div class="desc">
                                <h4 class="mt-3 mb-2">Бесплатные материалы и экономия денег</h4>
                                <p>
                                    Занятия с преподавателем или в группе часто требуют серьезных затрат.
                                    Владельцам школ приходится оплачивать не только услуги педагога, но ещё
                                    аренду помещения и другие издержки. Онлайн-обучение предполагает меньшие затраты.
                                    Также материалы предоставляются Вам бесплатно и без ограничений.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single_feature">
                            <div class="icon"><span class="flaticon-earth"></span></div>
                            <div class="desc">
                                <h4 class="mt-3 mb-2">Возможность заниматься где угодно</h4>
                                <p>
                                    Неважно, где вы находитесь, главное, иметь под рукой интернет и компьютер.
                                    Нет компьютера? Воспользуйтесь планшетом или телефоном. Курсы можно проходить
                                    с любого устройства. Даже пробки на дорогах и сломанный лифт из досадных
                                    препятствий можно превратить в возможность поучиться.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Feature Area =================-->


        <!--================ Start Testimonial Area =================-->
        <div class="testimonial_area section_gap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="main_title">
                            <h2 class="mb-3">Отзывы клиентов</h2>
                            <p>
                                Наши клиенты, достигшие желаемых результатов
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="testi_item">
                        <div class="row justify-content-center">
                            <div class="col-lg-2">
                                <img src="{% static 'main/img/testimonials/t1.jpg' %}" alt="" />
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Воробьев Николай Андреевич</h4>
                                    <p>
                                        Очень приятно работать с преподавателями LearnEng.
                                        За все время обучения ваши специалисты были очень терпеливыми и вежливыми,
                                        я связывался с ними очень часто, они всегда были отзывчивы.
                                        Так как я работаю с утра до вечера, мне было неудобно учиться офлайн, а сейчас
                                        я учусь в свободное время, это очень облегчает мне жизнь.
                                        Я очень рад, что выбрал именно эти курсы. Спасибо огромное!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row justify-content-center">
                            <div class="col-lg-2">
                                <img src="{% static 'main/img/testimonials/t3.jpg' %}" alt="" />
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Акимова Диана Андреевна</h4>
                                    <p>
                                        Это, пожалуй лучшие курсы для изучения английского. Хочу поблагодарить всех
                                        разработчиков, методистов и преподавателей за профессиональный подход к каждому ученику.
                                        Я всегда была замкнута, поэтому мне сложно было ходить на групповые занятия и улучшать Speaking,
                                        а сейчас с помощью ваших курсов я развиваю все секции, несмотря на то, что обучаюсь онлайн.
                                        Советую всем, как я, заниматься именно в LearnEng. :)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row justify-content-center">
                            <div class="col-lg-2">
                                <img src="{% static 'main/img/testimonials/t2.jpg' %}" alt="" />
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Павлов Иван Романович</h4>
                                    <p>
                                        Проходил ваши курсы пол года назад и хочу сказать вам спасибо за ваши плодородные работы.
                                        Мне нужно было за 4 месяца получить уровень Intermediate для переезда в другую страну по работе,
                                        но я думал, что это невозможно и останусь в своем городе. Наткнулся на вашу рекламу, решил
                                        попробовать. После прохождения полного курса, я сдал международный экзамен и достиг своей
                                        цели. Сейчас я сижу в Штатах и занимаю очень хорошую должность благодаря Вам! Если вам нужно
                                        улучшить свой английский за короткое время, советую курсы LearnEng!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'add_review' %}" class="btn btn-light">Открыть все отзывы</a>
                </div>
            </div>
        </div>
        <!--================ End Testimonial Area =================-->

        <!--================ Start footer Area  =================-->
        <footer class="footer-area">
            <div class="container">
                <div class="col-lg-12 single-footer-widget"><br><br><br>
                    <div class="col-lg-12">
                        <ul class="nav justify-content-center border-bottom pb-3">
                            <li><a href="{% url 'home' %}"><p class="col-lg-12 text-white">Главная</p></a></li>
                            <li><a href="{% url 'courses_home' %}"><p class="col-lg-12 text-white">Уроки</p></a></li>
                            <li><a href="{% url 'knowledge_base' %}"><p class="col-lg-12 text-white">База знаний</p></a></li>
                            <li><a href="{% url 'about' %}"><p class="col-lg-12 text-white">О нас</p></a></li>
                            <li><a href="{% url 'test' %}"><p class="col-lg-12 text-white">Тестирование</p></a></li>
                        </ul>
                    </div>

                    <div class="footer-bottom">
                        <p class="col-lg-12 text-white text-center">
                            <a class="text-white" href="http://127.0.0.1:8000/admin/"><u>Вход для администратора</u></a><br><br>
                            © 2021 LearnEng Company, Inc
                        </p>
                    </div><br><br><br>
                </div>
            </div>
        </footer>
        <!--================ End footer Area  =================-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    </body>
</html>
